
@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &::selection {
    background: rgb(176, 176, 176);
  }
}

@keyframes appear {
  from {visibility: hidden; opacity: 0}
  to {visibility: visible; opacity: 1}
}

@keyframes disappear {
  from {visibility: hidden; opacity: 0}
  to {visibility: visible; opacity: 1}
}

.buttonAdd, .sort-buttons>div {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  width: 220px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

body {

  #app {

    .main {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 20px;
      animation-name: appear;
      animation-duration: 1s;

      .lefthand {
        background: url('../../dist/cell.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 600px;
        width: 350px;
        transform: rotate(-8deg);
        z-index: 10;
        position: relative;
        user-select: none;
        font-family: 'Roboto Condensed', sans-serif;
        overflow: hidden;

        ul {
          display: flex;

          li {
            list-style-type: none;
          }
        }

        .content {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 300px;
          padding-top: 100px;
          padding-left: 40px;
          text-align: center;
          color: white;

          .task-add {

            .form-inside {
              display: flex;
              align-items: center;
              flex-direction: column;
              position: relative;

              .noerror {
                position: absolute;
                opacity: 0;
                transition: opacity 0.5s linear;
              }

              .error {
                position: absolute;
                top: -17px;
                left: -20px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;
                height: 50px;
                width: 264px;
                visibility: visible;
                opacity: 1;
                transition: opacity 0.5s linear;
              }

              span {
                position: absolute;
                top: -35px;
                left: 2px;

                &.wrong {
                  color: rgb(250, 87, 87);

                  &:after {
                    content: ' !'
                  }
                }
              }

              h2 {
                text-transform: uppercase;
                margin: 7px auto;
              }

              input {
                border: none; //2px solid rgba(255, 0, 0, 0.30);
                font-size: 20px;
                margin: 10px auto;
                width: 220px;
                background-color: rgba(255, 255, 255, 0.60);
                padding: 3px;
                font-family: 'Roboto Condensed', sans-serif;

                &:focus {
                  outline: none;
                }
              }

              .buttonAdd {
                margin: 15px auto;
                height: 40px;
                font-size: 22px;
              }

              .unchecked, .checked {
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 100%;
              }

              .unchecked {
                background-color: rgba(255, 255, 255, 1);
              }

              .checked {
                background-color: black;
                box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
              }
            }
          }
        }

        .sort-buttons {
          margin: 10px auto;
          text-transform: uppercase;

          .buttonRegural {
            font-size: 18px;
            margin: 5px;
          }
        }

        .secretButtons {
          display: flex;
          margin-top: 45px;

          .secretOne {
            background-color: transparent;
            width: 18px;
            height: 18px;
            margin-left: 34px;
            border-radius: 100%;
            cursor: pointer;
          }

          .secretTwo {
            background-color: transparent;
            width: 18px;
            height: 18px;
            margin-left: 56px;
            border-radius: 100%;
            cursor: pointer;

            &:hover {
              background-color: white;
            }
          }
        }
      }


      .paper {
        position: relative;
        background: url('../124.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 850px;
        width: 650px;
        min-width: 650px;
        transform: rotate(3deg);
        margin-left: -110px;
        margin-right: 50px;
        z-index: 0;

        @media(min-width: 1600px) {
          margin-right: 10%;
        }

        @media(min-width: 2100px) {
          margin-right: 15%;
        }

        .content {
          font-family: 'Caveat', cursive;
          margin-top: 45px;
          margin-left: 135px;
          font-size: 28px;
          width: 445px;
          word-break: break-all;

          h2 {
            margin: 0 0 20px 100px;
          }

          ul {

            h3 {
              //text-transform: lowercase;
            }

            li {
              list-style-type: none;
              margin: 5px auto;
              cursor: pointer;

              &.done {
                h3 {
                  text-decoration: line-through;
                }
              }

              &.urgent {
                h3, .button-urgent {
                  color: rgb(185, 24, 24);
                  text-decoration: underline;
                }
              }

              &.done.urgent{
                h3 {
                  color: rgb(185, 24, 24);
                  text-decoration: underline line-through;
                }
              }

              .buttons {
                margin-left: 25px;
                display: flex;
                color: rgb(161, 161, 161);


                .button-urgent, .button-delete {
                  margin-right: 20px;

                  &:hover {
                    color: rgb(0, 0, 0);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 4. informacja o błędach
// 1. ilość zadań które można dodać;
// 6. Animacje...
// 5. czcionka do tasków
